<h1>Create a new Traveler!</h1>

<form method="POST" action="/travelers">
  <input type="text" name="firstname" placeholder="First name" required>
  <input type="text" name="lastname" placeholder="Last name">
  <input type="submit" value="Add Traveler!">
</form>