<h1>FAVORITES</h1>

<%if(favorites.length === 0) {%>
    <h2>No favorites yet.</h2>
    <h3>Search now to add to your favorites!</h3>
    <a href="/"><button class="search-btn">Search</button></a> 

<%}%>

<%favorites.forEach(favorite => {%>
<h2><%=favorite.city%>, <%=favorite.state%></h2>

<form action="/remove/<%=favorite.id%>/?_method=DELETE" method="POST">
    <button type="submit">Remove from Favorites</button>
</form>

<%})%>