<h1> MapBox Travelers </h1>

<h2>You can search for any location and get it's coordinates.</h2>

<h2>If you really like a place, you can even add it to your favorites list!</h2>

<h2>Go to "Search for Cities" to get started.</h2>