<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title>Display a map</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav>
    <a href="/">Search for Cities</a>
    <a href="/favorites">Favorite Cities</a>
    <a href="/travelers">Travelers</a>
  </nav>
  <main>
    <%- body %>
  </main>

</body>
</html>