<h1>Search for a city!</h1>

<form method="GET" action="/results">
  <input type="text" name="name" placeholder="Insert City Name">
  <input type="text" name="state" placeholder="Insert State">
  <input type="submit" value="Search">
</form>