<h1>Search for a city!</h1>

<form action="/results" method="GET">
    <input type="text" name="city" placeholder="city">
    <input type="text" name="state" placeholder="state">

    <input type="submit" value="Search">
</form>
